bucket              = "replace-after-bootstrap"
namespace           = "replace-after-bootstrap"
region              = "us-ashburn-1"
key                 = "oci/01-governance-iam/terraform.tfstate"
config_file_profile = "DEFAULT"
